/.DS_Store
/Brown_V_Board_of_Education.aux
/Brown_V_Board_of_Education.fdb_latexmk
/Brown_V_Board_of_Education.fls
/Brown_V_Board_of_Education.idx
/Brown_V_Board_of_Education.ilg
/Brown_V_Board_of_Education.ind
/Brown_V_Board_of_Education.log
/Brown_V_Board_of_Education.out
/Brown_V_Board_of_Education.synctex.gz